<!-- Load the latest version -->
<link rel="stylesheet" href="https://unpkg.com/@clr/ui/clr-ui.min.css" />
<!-- Or load a specific version -->
<link rel="stylesheet" href="https://unpkg.com/@clr/ui@0.12.5/clr-ui.min.css" />
 

<!-- <p class="text-center">ลงทะเบียนผู้มาใช้บริการ-ใส่username/password</p> -->
<div style="position:relative; padding-top:2%; padding-left:15%; padding-right:15%; background-color:#D3D3D3;">
    <div class="jumbotron">
                <h2>ลงทะเบียน-เจ้าหน้าที่</h2><br>
                <hr class="">
        <form action="">

        <div class="form-group">
                <label for="exampleFormControlInput1">username</label>
                <input type="text" class="form-control" name="username" id="username" >
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">password</label>
                <input type="text" class="form-control" name="password" id="password" >
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">confirm-password</label>
                <input type="text" class="form-control" name="conpassword" id="conpassword" >
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">เบอร์โทรศัพพท์</label>
                <input type="text" class="form-control" name="tel" id="tel" >
            </div>
            <div style="text-align: center;">
                <button type="submit" name="submit" class="btn btn-primary mb-2" style="background-color: #036000 ;">ยืนยัน</button>
                <a href="registerEmployee.php"><button type="button" name="back" class="btn btn-primary mb-2" style="background-color: #036000 ;">ย้อนกลับ</button></a>
            </div>
</form>
</div>
</div>

