<h1>
    ลงทะเบียน-ผู้ใช้งานทั่วไป  
</h1>
<form clrForm>
    <clr-input-container>
        <label>รหัสบัตรประชาชน</label>
        <input clrInput type="text" [(ngModel)]="perId" name="perId" />
    </clr-input-container>
    <clr-input-container>
        <label>คำนำหน้า</label>
        <input clrInput type="text" [(ngModel)]="title" name="title" />
    </clr-input-container>
    <clr-input-container>
        <label>ชื่อ</label>
        <input clrInput type="text" [(ngModel)]="name" name="name" />
    </clr-input-container>
    <clr-input-container>
        <label>สกุล</label>
        <input clrInput type="text" [(ngModel)]="surname" name="surname" />
    </clr-input-container>
    <clr-input-container>
        <label>วัน / เดือน / ปีเกิด</label>
        <input clrInput type="date" [(ngModel)]="bdate" name="bdate" />
    </clr-input-container>
    <clr-textarea-container>
        <label>ที่อยู่</label>
        <textarea clrTextarea [(ngModel)]="address" name="address" required></textarea>
    </clr-textarea-container>
    <clr-input-container>
        <label>ศาสนา</label>
        <input clrInput type="text" [(ngModel)]="religion" name="religion" />
    </clr-input-container>
</form>
