<!-- Load the latest version -->
<link rel="stylesheet" href="https://unpkg.com/@clr/ui/clr-ui.min.css" />
<!-- Or load a specific version -->
<link rel="stylesheet" href="https://unpkg.com/@clr/ui@0.12.5/clr-ui.min.css" />
 
<div layout="row" layout-align="center center">
  <br><br>
  <p style="font-size:20pt" class="text-center"><strong>เลือกประเภทการลงทะเบียน</strong></p><br>
  <br><br>
</div>
  
<div class="row" style="margin-left:30%">
  <div class="col-sm-4">
    <a routerLink="/main/register-user" style="color:#036000">
      <img src="assets/images/family.png" class="img-circle person" width=200;>
      <br><br>
      <p style="font-size:16pt;margin-left:13%"><strong>ผู้ใช้งานทั่วไป</strong></p><br>
    </a>
  </div>
  <div class="col-sm-4">
    <a routerLink="/main/register-employee"style="color:#036000">
      <img src="assets/images/network.png" class="img-circle person" width=200;>
      <br><br>
      <p style="font-size:16pt;margin-left:22%"><strong>เจ้าหน้าที่</strong></p><br>
    </a>
  </div>
</div><br>


<div style="text-align:center">   
      <a routerLink="/main/main">
        <button type="button" class="btn btn-success">ย้อนกลับ</button>
        </a>
</div>
