
<!-- Load the latest version -->
<link rel="stylesheet" href="https://unpkg.com/@clr/ui/clr-ui.min.css" />
<!-- Or load a specific version -->
<link rel="stylesheet" href="https://unpkg.com/@clr/ui@0.12.5/clr-ui.min.css" />
 
<div style="position:relative; padding-top:0%; ">
    <div class="jumbotron" style="background-color:#D3D3D3;padding-top:2%; padding-left:15%;padding-right:15%;" >
                <h2>แก้ไขข้อมูล</h2><br>
                <hr class=" my-col2">
        <form action="">

            <div class="form-group">
                <label for="exampleFormControlInput1">คำนำหน้า</label>
                <input type="text" class="form-control" name="tel" id="tel" >
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">ชื่อ</label>
                <input type="text" class="form-control" name="tel" id="tel" >
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">นามสกุล</label>
                <input type="text" class="form-control" name="tel" id="tel" >
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">ที่อยู่</label>
                <input type="text" class="form-control" name="tel" id="tel" >
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">ศาสนา</label>
                <input type="text" class="form-control" name="tel" id="tel" >
            </div><br>
            <hr><br>
            <div class="form-group">
                <label for="exampleFormControlInput1">password เดิม</label>
                <input type="text" class="form-control" name="tel" id="tel" >
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">passwaord ใหม่</label>
                <input type="text" class="form-control" name="tel" id="tel" >
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">passwaord ใหม่(อีกครั้ง)</label>
                <input type="text" class="form-control" name="tel" id="tel" >
            </div>
            <div style="text-align: center;">
                <button type="submit" name="submit" class="btn btn-primary mb-2" style="background-color: #036000 ;">ยืนยัน</button>
                <a href="personalIn.php"><button type="button" name="back" class="btn btn-primary mb-2" style="background-color: #036000 ;">ย้อนกลับ</button></a>
            </div>
</form>
</div>
</div>