<div style="margin-left: 20% ;">
<h1 style="margin-left: 25% ;">
        แก้ไขข้อมูล
    </h1>
    <form clrForm >
        <clr-input-container>
            <label>คำนำหน้า</label>
            <input clrInput style="width: 60%;" type="text" [(ngModel)]="prefix" name="prefix" />
        </clr-input-container>
        <clr-input-container>
            <label>ชื่อ</label>
            <input clrInput style="width: 60%;" type="text" [(ngModel)]="name" name="name" />
        </clr-input-container>
        <clr-input-container>
            <label>สกุล</label>
            <input clrInput style="width: 60%;" type="text" [(ngModel)]="surname" name="surname" />
        </clr-input-container>
        <clr-textarea-container>
            <label>ที่อยู่</label>
            <textarea clrTextarea style="width: 60%;" [(ngModel)]="address" name="address"></textarea>
        </clr-textarea-container>
        <clr-input-container>
            <label>ศาสนา</label>
            <input clrInput type="text" style="width: 60%;" [(ngModel)]="religion" name="religion" />
        </clr-input-container><br>
        
        <clr-input-container>
            <label>password(เดิม)</label>
            <input clrInput style="width: 60%;" type="text" [(ngModel)]="oldpassword" name="oldpassword" />
        </clr-input-container>
        <clr-input-container>
            <label>password(ใหม่)</label>
            <input clrInput style="width: 60%;" type="text" [(ngModel)]="password" name="password" />
        </clr-input-container>
        <clr-input-container>
            <label>password(ใหม่อีกครั้ง)</label>
            <input clrInput style="width: 60%;" type="text" [(ngModel)]="confirmpassword" name="confirmpassword" />
        </clr-input-container>
    </form>
    </div>
    